.img1, .img2 {
    height: 290px;
    border-radius: 50px;
    display: inline;
    border: 15px solid black;
}
.img3, .img4 {
    height: 290px;
    border-radius: 50px;
    display: inline;
    border: 15px solid black;
}

.info {
    display: flex;
    flex-direction: column;
    font-size: 50px;
}
   
.center {
    color: Black;
   font-family: cursive;
}

.img {
    margin-right: 60px;
}